@import bourbon/bourbon

@import general
@import blog

p, li
  code
    font-family: 'Source Code Pro', monospace
    padding: 0px 2px 0px 2px
    // background-color: #eee
    // border: 1px solid rgba($dark-color, .3)
    // border-radius: $radius
    word-break: break-all

pre
  code
    font-family: 'Source Code Pro', monospace
    border-radius: 0px
    overflow: auto
    white-space: pre
    word-wrap: normal
    word-break: none
