header(class=`primary-header ${darkHeader}` role="banner")
  a(id="logo" href="//testdouble.com")
    h1(class=`primary-header-item logo ${darkHeader}`) Test Double
  .menu-items
    .contact-button
      a(href="//testdouble.com/contact" class=darkHeader).
        Contact #[span.big us]
    label(for="navigation-trigger" role="button")
      .menu-trigger(class=`primary-header-item ${darkHeader}` tabindex='0' aria-label='Toggle Navigation' aria-controls='sidebar-navigation')
