header(class=`primary-header ${darkHeader}` role="banner")
  a(href="index.html")
    h1(class=`primary-header-item logo ${darkHeader}`) Test Double
  label(for="navigation-trigger" role="button")
    .menu-trigger(class=`primary-header-item ${darkHeader}`)
