aside(id="sidebar-navigation" class="primary-nav-sidebar" role="complimentary")
  label.navigation-close(for="navigation-trigger" role="button")
    .menu-close(tabindex='0' aria-label='Close Navigation')
  nav(class="primary-nav" role="navigation")
    a(href="//testdouble.com/agency" class="primary-nav-item") Our Agency
    a(href="//testdouble.com/work" class="primary-nav-item") Our Work
    a(href="/" class="primary-nav-item") Our Thinking
    a(href="/archive" class="primary-nav-item") &nbsp;↳ Archive
    a(href="//testdouble.com/join" class="primary-nav-item") Your Career
    a(href="//testdouble.com/join/developer" class="primary-nav-item") &nbsp;↳ As a Developer
  .contact
    p.social
      a(href="https://twitter.com/testdouble")
        span.twitter.icon Twitter
      a(href="https://github.com/testdouble")
        span.github.icon GitHub
    p.phone
      a(href="tel:+16143494279") 614.349.4279
    p.email
      a(href="mailto:hello@testdouble.com") hello@testdouble.com
    p.address
      | Columbus, Ohio
