aside(class="primary-nav-sidebar" role="complimentary")
  label.navigation-close(for="navigation-trigger" role="button")
    .menu-close
  nav(class="primary-nav" role="navigation")
    a(href="//testdouble.com/agency.html" class="primary-nav-item") Our Agency
    a(href="//testdouble.com/work.html" class="primary-nav-item") Our Work
    a(href="/" class="primary-nav-item") Our Thinking
    a(href="/archive.html" class="primary-nav-item") &nbsp;↳ Archive
  .contact
    p.social
      a(href="https://twitter.com/testdouble")
        span.twitter.icon Twitter
      a(href="https://github.com/testdouble")
        span.github.icon GitHub
    p.phone
      a(href="tel:+16143494279") 614.349.4279
    p.email
      a(href="mailto:hello@testdouble.com") hello@testdouble.com
    p.address
      | Columbus, Ohio
