doctype html
html(lang="en")
  include ../partials/head.pug

  body
    input.is-nav-trigger#navigation-trigger(type="checkbox")
    include ../partials/navigation.pug
    main(class="site-container").content !{yield}
    include ../partials/accessible-menu.pug
